body {
    direction: rtl;
}
.img-wait {
/*    position: absolute;
    margin-top: 100px;*/
}
.panels {
    margin-top: 50px;
}
.a {
    width: 40%;
    margin: 0 auto;
}

.a1{
    margin-top: 200px;
}

.a .a2{
    width: 40%;
    margin: 0 auto;
}